.l-side-modal {
  position: relative;
  .bx--modal-container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: unset;
  }
  .l-side-modal-header {
    min-height: 5rem;
  }
  .l-side-modal-body {
    min-height: 20rem;
    max-height: calc(100vh - 5rem - 5rem);
    overflow: auto;
  }
  .l-side-modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
