@import "../../style/utils/index.scss";
.main-modal {
  .p-dialog {
    min-width: 40rem;
    max-width: calc(100vw - 2rem);
    @include sm-screen {
      min-width: calc(100vw - 2rem);
      max-width: calc(100vw - 2rem);
    }

    .p-dialog-footer {
      padding: 0;
    }
    .p-dialog-header .p-dialog-title {
      font-size: 2rem;
    }

    .modal-content {
      font-size: 1.5rem;
      font-weight: 500;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .modal-content-header {
      font-size: 2rem;
    }
  }
}
