@import "../../../../style/utils/mixins";
.l-footer {
  display: none;
  @include sm-screen {
    display: flex;
  }

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .l-footer-item {
    cursor: pointer;
    flex-grow: 1;
    background-color: var(--surface-f);
    color: var(--primary-color-text);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
    &.active {
      background: var(--primary-color);
    }
    &:hover active {
      background: var(--primary-color);
    }
    .l-footer-item-content {
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      svg {
        margin-bottom: 0.5rem;
      }
    }
  }
}
