@import "../../style/utils";
.main-content {
  padding: 2rem;
  height: calc(100vh - 3.5rem);
  overflow: auto;
  &.open-sidebar {
    margin-left: 15rem;
    @include sm-screen {
      margin-left: 0rem;
    }
  }
  &.close-sidebar {
    margin-left: 3rem;
    @include sm-screen {
      margin-left: 0rem;
    }
  }
  @include sm-screen {
    padding: 0.5rem;
    padding-bottom: 4rem;
  }
}
