.main-user {
  .user-info {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    .avatar {
      width: 4rem;
      height: 4rem;
      margin-right: 0.5rem;
      margin-left: 1rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .info {
      .fullname {
        font-weight: bold;
      }
      .roleName {
        font-size: 0.75rem;
      }
      .email {
        font-size: 0.75rem;
      }
    }
  }
  .p-tieredmenu {
    border: none;
    width: 100%;
  }
}

.main-user-panel {
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
}
