@import "../../../../style/utils/mixins";
.support-header {
  padding: 0.5rem;
  background: #ffffff;
  color: #000000;
  border-radius: 0px;
  position: relative;
  width: 100% !important;
  .support-logo {
    height: 4rem;
    width: 6.5rem;
    margin-left: 4rem;
  }
}

.support-newline {
  white-space: pre-line;
}

.support-font {
  font-weight: bold;
}

.support-font-spacing {
  margin-top: -0.8rem;
}

@include sm-screen {
  .support-spinner {
    margin-left: -14rem;
  }
}
