.base {
  &-button {
    height: 60px;
    padding-top: 14px;
    padding-bottom: 25px;

    > span {
      text-align: left;
    }
  }

  &-dialog {
    &-header {
      font-weight: normal;
    }

    &-content {
      padding: 1rem;
    }

    &-footer {
      width: 100%;
      display: flex;

      > :first-child {
        width: 50% !important;
        margin: 0 !important;
      }
      > :last-child {
        width: 50% !important;
        margin: 0 !important;
      }
    }

    .p-dialog-header {
      color: black;
      background: #f3f3f3;
      padding: 1rem;
      padding-bottom: 1px;

      .p-dialog-header-close {
        color: black;
      }
    }

    .p-dialog-content {
      background: #f3f3f3;
      padding: 1rem;
      padding-top: 0.5rem;

      .p-card-content {
        padding: 1rem;
      }
    }

    .p-dialog-footer {
      padding: 0;
    }
  }
}

.form_buttons {
  width: 50%;

  &-container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;

    .p-button {
      box-shadow: none !important;
    }
  }
}

.form_buttons:disabled {
  opacity: 0.7;
}
