.ep-login-no-margin {
  margin: 0;
}

.ep-login-bg {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;

  .ep-login-img-full {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    .lazy-load-image-background {
      height: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }

  .ep-login-info {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 5em;
    left: 1em;
    color: white;
  }
}

// @media screen and (min-width: 575px) {
//   .ep-login-panel {
//     background-color: white;
//     min-height: 100vh;
//     min-width: 100%;
//   }
// }

// @media screen and (min-width: 400px) {
//   .ep-login-panel {
//     background-color: white;
//     min-height: 100vh;
//     min-width: 100%;
//   }
// }

.ep-login-panel {
  background-color: white;
  min-height: 100vh;
  // width: max-content;
  // min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.ep-login-panel-form {
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  .ep-login-header {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .logo {
      margin: auto;
    }
  }
  .ep-login-body {
    margin-bottom: 8rem;
    .checkbox-row {
      display: flex;
      align-items: center;
      .forgot {
        text-decoration: none;
      }
    }
    .actions {
      hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      button {
        width: 100%;
        padding: 0;
        max-width: 100%;
        text-align: center;
        span {
          width: 100%;
          padding: 0;
        }
      }
    }
    .p-inputgroup {
      position: unset;
    }
  }
  .ep-login-footer {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    right: 0;
    left: 0;
  }
}

.ep-first-login-email {
  color: var(--primary-color);
}

.ep-first-login-info-list {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  .ep-first-login-list {
    padding: 0.75rem 1rem;
  }
}

.ep-first-login-menu {
  width: 100%;
  .ep-first-login-info-title {
    padding: 0.75rem 1rem;
    margin: 0rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  .ep-first-login-info-icon {
    color: var(--primary-color);
    margin-right: 0.5rem;
  }
  .ep-first-login-rule-fulfill {
    color: var(--primary-color);
  }
}

.login-spinner {
  margin-left: 22rem;
  margin-top: -1.9rem;
}
