.p-inputgroup-number {
  position: relative;
  .p-inputnumber {
    flex-grow: 1;
  }
  .silder-number {
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
  }
  .p-inputnumber-button {
    background: transparent;
    border: transparent;
    color: var(--surface-e);
    position: absolute;
    right: 0;
    z-index: 9999;
    &.p-inputnumber-button-up {
      top: 0;
      height: 50%;
    }
    &.p-inputnumber-button-down {
      bottom: 0;
      height: 50%;
    }
  }
}
