.comp-loading {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 999;
  background: var(--overlay-a);
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 25%;
}
.c-page-body {
  .c-setting-tree {
    padding: 0;
    border: 0;
    background: transparent;
    .p-treenode-content {
      background-color: var(--surface-a);
      font-weight: 500;
      margin-left: 0.5rem;
      position: relative;
      &::before {
        content: "";
        background-color: var(--surface-c);
        position: absolute;
        width: 0.5rem;
        top: 0;
        left: -0.5rem;
        height: 100%;
      }
      &:hover,
      &.p-highlight {
        &::before {
          background-color: var(--primary-color);
        }
      }
      .p-treenode-label {
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .p-tree-toggler {
        width: 0rem !important;
      }
    }
  }
  .c-group-title {
    background-color: var(--surface-e);
    color: var(--primary-color-text);
    font-weight: bold;
    padding: 1rem;
    position: relative;

    .c-group-tile-action {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      bottom: 0;
      .p-button {
        height: 100%;
      }
    }
  }
  .c-group-sub-title {
    cursor: pointer;
    &.inline-tile {
      margin-left: -1rem;
      margin-right: -1rem;
      &.inline-tile-first {
        margin-top: -1rem;
      }
    }
    background-color: var(--surface-d);
    border-top: 1px solid var(--primary-color-text);
    font-weight: bold;
    padding: 1rem;
    position: relative;
    .c-group-sub-tile-action {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      bottom: 0;
      .p-button {
        height: 100%;
      }
    }
  }
  .c-group-panel {
    transition: all 0.4s;
    &.hide-panel {
      height: 0 !important;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    &.c-group-panel-no-padding {
      padding: 0;
    }
    &.c-group-panel-no-margin {
      margin: 0;
    }
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--surface-a);
    .c-avatar-thumb {
      max-width: 100%;
    }
    .c-item-main {
      margin-bottom: 2rem;
      .c-item-main-desc {
        font-weight: normal;
        font-size: 1rem;
      }
      font-weight: bold;
      font-size: 2.5rem;
    }
    .p-card-title {
      color: var(--primary-color);
    }
  }
  .c-photo-upload {
    display: flex;
    align-items: center;
    .c-display-avatar {
      margin-right: 2rem;
      width: 15rem;
      min-height: 4rem;
      background-color: var(--surface-c);
      .c-avatar-thumb {
        max-width: 100%;
      }
    }
    .c-file-name {
      margin-right: 2rem;
    }
    .c-action-group {
      display: inline-flex;
      .p-button {
        margin-left: 0.5rem;
      }
      .p-fileupload-choose {
        background-color: var(--surface-f);
        border-color: var(--surface-f);
      }
    }
  }
}
.c-timeline-item {
  display: flex;
  font-weight: 500;
  align-items: center;
  border-bottom: 1px solid var(--surface-d);
  padding: 0.5rem 1rem;
  .c-timeline-item-title {
    flex-grow: 1;
  }
  .c-timeline-item-event {
    width: 8rem;
  }
  .c-timeline-item-time {
    width: 5rem;
  }
  .c-timeline-item-action {
    width: 2rem;
  }
}

.c-accordion-tab {
  display: flex;
  width: 100%;
  .c-accordion-tab-action {
    display: flex;
    .p-button {
      margin-right: 0.5rem;
    }

    .p-fileupload-choose {
      background-color: var(--surface-f);
      border-color: var(--surface-f);
    }
  }
}
.hidden {
  display: none;
}

.ep-dropdown {
  width: 14rem;
}

.ep-language-toogle {
  justify-content: space-between;
  display: flex;
  margin: 0em;
  .p-field {
    margin: 0em;
    .p-inputgroup {
      button {
        span {
          color: var(--primary-color-text);
        }
      }
    }
    label {
      display: none;
      margin: 0em;
    }
  }
  p {
    margin: 0em;
  }
}

.ep-emp-status-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  .ep-item-contract {
    flex-grow: 1;
  }

  .ep-item-status {
    width: 9rem;
  }

  .ep-item-date {
    width: 8rem;
  }
  .ep-item-tool {
    width: 2rem;
  }
}
