@import "../../../../style/utils/index.scss";

.main-sidebar {
  background: var(--surface-a);
  position: fixed;
  left: 0;
  top: 0;
  width: 15rem;
  padding-top: 1rem;
  height: calc(100vh - 3.5rem);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  &.open {
    @include sm-screen {
      width: 100vw;
      position: static;
    }
    .tree-sidebar {
      padding: 0;
      border: 0;
      .p-tree-toggler {
        order: 99;
      }
      .p-treenode-label {
        flex-grow: 1;
      }
    }

    .menu-active {
      background: transparent !important;
      > .p-treenode-label,
      > .p-treenode-icon,
      > .p-tree-toggler {
        font-weight: 500;
      }
      &.menu-leaf {
        background: var(--surface-d) !important;
        > .p-treenode-label,
        > .p-treenode-icon,
        > .p-tree-toggler {
          color: var(--primary-color) !important;
        }
      }
    }
  }
  &.close {
    @include sm-screen {
      display: none;
    }

    width: 3rem;
    .p-tieredmenu {
      width: 3rem;
      border: none;
    }
    .p-tieredmenu .p-menuitem-link .p-menuitem-text {
      display: none;
    }
    .p-tieredmenu .p-submenu-list .p-menuitem-link .p-menuitem-text {
      display: block;
    }
    .p-tieredmenu .menu-main .p-menuitem-link .pi-angle-right {
      opacity: 0 !important;
    }
    .p-tieredmenu .menu-sub .p-menuitem-link .pi-angle-right {
      opacity: 1 !important;
    }
    .p-tieredmenu .p-menuitem-active > .p-submenu-list {
      min-width: 15rem;
    }

    .menu-active > .p-menuitem-link {
      background: var(--surface-d) !important;
      color: var(--primary-color) !important;
      .p-menuitem-icon,
      .p-menuitem-text,
      .p-submenu-icon {
        font-weight: 500;
        color: var(--primary-color) !important;
      }
      &.menu-leaf {
        background: var(--surface-d) !important;
        > .p-treenode-label,
        > .p-treenode-icon,
        > .p-tree-toggler {
          color: var(--primary-color) !important;
        }
      }
    }
  }
}
