.base_table2-page {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .head_label {
    p {
      margin: 0;
      margin-bottom: 10px;
      color: #000;
    }

    &-main {
      font-size: 23px;
    }

    &-sub {
      font-size: 16px;
    }
  }

  .head_actions {
    width: 100%;
    height: 46px;
    display: flex;

    &-search_filter {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      i {
        padding: 16px 20px;
        cursor: pointer;
      }
    }

    &-button {
      width: 20%;
      position: relative;
      display: flex;

      button {
        width: 100%;
        height: 100%;
        box-shadow: none !important;
      }
    }

    &-modal {
      position: fixed;
      z-index: 10;
      width: 100%;
      background-color: #f3f3f3;

      &-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .p-column-title {
    font-weight: bold;
  }

  .p-filter-column {
    background: #e0e0e0 !important;
    > * {
      width: 100%;
    }
  }

  .p-disabled {
    opacity: 0.85 !important;
  }

  .base_table2-table {
    flex-grow: 1;
    word-break: break-word;

    &-container {
      display: flex;
      background-color: #f3f3f3;
      border-bottom: 1px solid #e9ecef;
      overflow-x: hidden;
    }

    &-normal {
      tbody tr {
        background-color: #f3f3f3;
      }
    }

    .base_table2-page_1 {
      width: calc(100% - 80px);

      .p-datatable-scrollable-header-box {
        margin-right: 0 !important;
      }

      .p-datatable-unfrozen-view {
        .p-datatable-scrollable-body {
          overflow-y: auto !important;
        }
      }

      .p-datatable-loading-overlay {
        padding-left: 80px;
      }

      .functional_unit {
        &-container {
          .pi-arrow-right {
            margin-right: 5px;
          }
        }
      }
    }

    .base_table2-page_2 {
      .col-action {
        text-align: center;

        &-body {
          border-left: 1px solid #e9ecef;
          cursor: pointer;
        }
      }

      .p-sortable-column-icon {
        display: none;
      }

      .p-column-title {
        color: #495057;
        cursor: default;
      }

      .p-paginator {
        cursor: default;
      }

      .p-datatable-loading-icon {
        display: none;
      }
    }

    .status {
      &-container {
        display: flex;
        align-items: center;
      }

      &-icon {
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }

      &-active {
        background-color: #689f38;
      }

      &-inactive {
        background-color: #999;
      }
    }
  }

  .actions-modal {
    background-color: #f3f3f3;
    width: 100px;
    position: fixed;

    &-container {
      display: none;
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &-item {
      padding: 6px 10px 6px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-item:hover {
      cursor: pointer;
      background-color: #e9ecef;
    }
  }

  .pagination {
    background-color: #f3f3f3;
    height: 46px;
    color: #000;
    display: flex;

    > div {
      padding: 0 16px;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-ipp {
      border-right: 1px solid #e9ecef;
      justify-content: center;

      &-current {
        width: 25px;
        display: flex;
        justify-content: center;
      }

      &-dropdown {
        width: 46px;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }

    &-items {
      flex-grow: 1;
    }

    &-pages {
      width: 200px;
      border-left: 1px solid #e9ecef;

      &-back_forward {
        display: flex;
        padding-right: 0 !important;

        > div {
          height: 100%;
          width: 46px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid #e9ecef;
          cursor: pointer;
        }
      }
    }
  }

  .sidebar_update {
    background-color: #f3f3f3;
    color: #000;
    width: 40%;
    min-width: 500px;
    padding: 0 !important;

    .p-sidebar-content {
      height: 100%;
      padding: 1rem;
    }

    .p-sidebar-icons {
      display: none;
    }

    &-main_content {
      height: calc(100% - 74px);
      display: flex;
      flex-direction: column;
    }

    &-header {
      color: #333;
      font-weight: 500;
      user-select: none;
      height: 46px;
      margin-bottom: 20px;

      &-main {
        font-size: 20px;
      }

      &-sub {
        padding-top: 5px;
      }
    }

    &-form {
      overflow-y: auto;
      flex-grow: 1;

      .p-field {
        .p-disabled {
          opacity: 1;
          color: #000;
          background: #8d8d8d;
          background-color: #8d8d8d;
          border-width: 0px;
          user-select: none;

          .p-dropdown-label,
          .p-dropdown-trigger {
            color: #000;
            background: transparent;
          }
        }

        &-status {
          display: flex;
          flex-direction: column;

          .status {
            &-container {
              display: flex;
              align-items: center;
            }
            &-value_label {
              color: #333;
              margin-left: 10px;
              font-weight: 500;
            }
          }
        }
      }

      .p-label-required::after {
        content: " *";
        color: red;
      }
    }

    .p-sidebar-close {
      box-shadow: none !important;
    }

    .p-card:first-child {
      margin-top: 0;
    }

    .p-card {
      margin-top: 20px;
      box-shadow: none;

      label {
        font-size: 12px;
        font-weight: 500;
        user-select: none;
      }

      &-content {
        padding: 0;
      }
    }

    input,
    textarea {
      background-color: #f3f3f3;
      border-width: 0px 0px 1px 0px;
      border-color: #8d8d8d;
      padding: 10px 12px;
    }

    .p-dropdown {
      background: #f3f3f3;
      border-color: transparent;
      border-bottom-color: #8d8d8d;

      &-label,
      &-trigger {
        border-color: #8d8d8d;
        background-color: #f3f3f3;
      }

      &-label {
        padding: 10px 12px;
      }
    }

    .p-inputswitch {
      width: 2.5rem;
      height: 1.25rem;
    }

    .p-inputswitch .p-inputswitch-slider:before {
      width: 0.75rem;
      height: 0.75rem;
      margin-top: -0.375rem;
    }

    .p-invalid {
      border-color: red;
    }

    .p-disabled {
      opacity: 0.85 !important;
    }
  }
}
